.upload {
  border: 0.5px solid gray;
  border-radius: 25px;
  align-items: center;
  text-align: center;
  padding: 10px;
}
hr {
  border: 1px solid #01bdf8;
  opacity: 1;
}
.form-control {
  border-radius: 10px !important;
}
