/* * {
  margin: 0;
  padding: 0;
  text-indent: 0;
}

h1 {
  color: #202020;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 22.5pt;
}

p {
  color: #202020;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 9pt;
  margin: 0pt;
}

h2 {
  color: #202020;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 9pt;
}

.a,
a {
  color: #094e9a;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 9pt;
}

.s1 {
  color: #094e9a;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 9pt;
}

.s2 {
  color: #202020;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 9pt;
}

li {
  display: block;
}

#l1 {
  padding-left: 0pt;
}

#l1 > li > *:first-child:before {
  content: "● ";
  color: #202020;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 9pt;
}

li {
  display: block;
}

#l2 {
  padding-left: 0pt;
  counter-reset: d1 1;
}

#l2 > li > *:first-child:before {
  counter-increment: d1;
  content: counter(d1, decimal) ". ";
  color: black;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

#l2 > li:first-child > *:first-child:before {
  counter-increment: d1 0;
}

#l3 {
  padding-left: 0pt;
  counter-reset: e1 1;
}

#l3 > li > *:first-child:before {
  counter-increment: e1;
  content: counter(e1, upper-latin) ". ";
  color: #202020;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 9pt;
}

#l3 > li:first-child > *:first-child:before {
  counter-increment: e1 0;
}

#l4 {
  padding-left: 0pt;
  counter-reset: e2 1;
}

#l4 > li > *:first-child:before {
  counter-increment: e2;
  content: counter(e2, lower-roman) ". ";
  color: #202020;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 9pt;
}

#l4 > li:first-child > *:first-child:before {
  counter-increment: e2 0;
}

#l5 {
  padding-left: 0pt;
}

#l5 > li > *:first-child:before {
  content: "● ";
  color: #202020;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 9pt;
}

#l6 {
  padding-left: 0pt;
}

#l6 > li > *:first-child:before {
  content: "· ";
  color: #202020;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 9pt;
}

#l7 {
  padding-left: 0pt;
  counter-reset: g1 1;
}

#l7 > li > *:first-child:before {
  counter-increment: g1;
  content: counter(g1, upper-latin) ". ";
  color: #202020;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 9pt;
}

#l7 > li:first-child > *:first-child:before {
  counter-increment: g1 0;
}

#l8 {
  padding-left: 0pt;
  counter-reset: h1 1;
}

#l8 > li > *:first-child:before {
  counter-increment: h1;
  content: counter(h1, upper-latin) ". ";
  color: #202020;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 9pt;
}

#l8 > li:first-child > *:first-child:before {
  counter-increment: h1 0;
}

#l9 {
  padding-left: 0pt;
  counter-reset: h2 1;
}

#l9 > li > *:first-child:before {
  counter-increment: h2;
  content: counter(h2, lower-roman) ". ";
  color: #202020;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 9pt;
}

#l9 > li:first-child > *:first-child:before {
  counter-increment: h2 0;
}

#l10 {
  padding-left: 0pt;
  counter-reset: h2 1;
}

#l10 > li > *:first-child:before {
  counter-increment: h2;
  content: counter(h2, lower-roman) ". ";
  color: #202020;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 9pt;
}

#l10 > li:first-child > *:first-child:before {
  counter-increment: h2 0;
}

#l11 {
  padding-left: 0pt;
  counter-reset: i1 1;
}

#l11 > li > *:first-child:before {
  counter-increment: i1;
  content: counter(i1, upper-latin) ". ";
  color: #202020;
  font-family: Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 9pt;
}

#l11 > li:first-child > *:first-child:before {
  counter-increment: i1 0;
} */
